[core]
    editor = emacs -Q -l "$HOME/.emacs.git"
    logallrefupdates = true
[gc]
    auto = 256
[user]
    name = nathan moreau
    email = nathan.moreau@m4x.org
[alias]
    ame = commit -av --amend
    ap = add -p
    ch = cherry-pick
    cam = commit -av
    cm = commit -v
    co = checkout
    d = diff
    dc = diff --cached
    dm = diff origin/master..HEAD
    du = diff @{u} HEAD
    f = fetch --all --prune
    l = log --decorate --oneline --graph --color -5
    la = log --all --decorate --oneline --graph --color -5
    laa = log --all --decorate --oneline --graph --color
    ll = log --decorate --oneline --graph --color
    r1 = reset HEAD^
    redate = commit --amend --date=now --no-edit
    rh= reset --hard
    s = status
    wc = whatchanged --oneline -5
    wcc = whatchanged --oneline
    wip = commit -am wip
    wl = worktree list --porcelain
[merge]
    tool = ediff
[mergetool "ediff"]
    cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[color "branch"]
    upstream = bold cyan
[diff]
    mnemonicprefix = true
    algorithm = patience
[pull]
    rebase = true
[push]
    default = nothing
[clean]
    requireForce = false
[color "grep"]
    linenumber = bold green
    filename = magenta
[fetch]
    all = true
    prune = true
