set convert-meta on

"\M-p": previous-history
"\M-n": next-history
"\C-\M-l": "\C-e |less -RFMi"
"\C-\M-r": "\C-e >out 2>log "
set completion-ignore-case on
set colored-completion-prefix on
"\M-/": menu-complete
"\e[1;5D": backward-word
"\e[1;5C": forward-word
